<form >
    <div class="field is-horizontal">
        <div class="field-body">
               <div class="field is-narrow">
                   <p class="control"></p>
                   <input type="number" class="input" placeholder="Amount" style="width:100px">
               </div> 
               <div class="field">
                   <p class="control">
                       <input type="text" class="input" placeholder="Description">
                   </p>
               </div>
               <div class="field is-narrow">
                   <button class="button is-primary">
                       Add
                   </button>
               </div>
        </div>
    </div>
</form>
